.people-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 16px; 
    padding: 16px;
  }
  
  .people-container {
    max-width: 1200px; 
    margin: auto; 
  }
  .header h1 {
    color: white;
}

   .header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 100px;
    width: 1000px;
  }
  
  .header-icons svg {
    cursor: pointer;
    margin-left: 10px; 
  }
  
  .header-icons .active {
    fill: blue;
  }
  