.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #FFFFFF; /* White background */
    color: black;
    padding: 8px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Light shadow */
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #FFFFFF; /* White background */
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 4px; /* Rounded corners */
    padding: 5px 0;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .svg-icon {
    margin-right: 10px;
  }
  
  .mark-private {
    color: #4CAF50; /* Private option in green */
  }
  
  .delete {
    color: #F44336; /* Delete option in red */
  }
  
  /* Show the dropdown menu on click */
  .dropdown .dropdown-content {
    display: block;
  }
  
  .icon {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    margin-right: 8px; /* Adjust spacing as needed */
  }
  