.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background-color: #2a2d34; 
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  border-radius: 5px;
  color: white;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
}

.modal-image {
  height: px;
  width: 400px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 354px;
}

.modal-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.modal-item h3 {
  margin-bottom: 5px;
  color: #ccc; /* Lighter text color for headings */
}

.modal-item p {
  background-color: #ffffff;
  color: #000; /* Dark text color for content */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden; /* Ensures content does not overflow its container */
  text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
  white-space: nowrap; /* Keeps the text on a single line */
}

.modal-close {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #e91e63;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
