.movie-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #ccc; /* Add a bottom border for each item */
    background-color: #2B2D42; /* Dark background color, adjust to your design */
    color: #FFF; /* Text color */
    height:40px;
    width:1000px;
  }
  
  .movie-list-details {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
  
  .movie-list-name,
  .movie-list-birthdate,
  .movie-list-species {
    margin-right: 16px; /* Add spacing between details */
  }
  
  .movie-list-menu {
    width: 24px; /* Size of the menu icon */
    height: 24px; /* Size of the menu icon */
    cursor: pointer;
    /* Additional styles if needed */
  }
  