.movie-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #ccc; 
    background-color: #2B2D42; 
    color: #FFF; 
    height:40px;
    width:1000px;
  }
  
  .movie-list-details {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
  
  .movie-list-name,
  .movie-list-birthdate,
  .movie-list-species {
    margin-right: 16px; 
  }
  
  .movie-list-menu {
    width: 24px; 
    height: 24px; 
    cursor: pointer;
    
  }
  