.movie-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #ccc;
    background-color: #2B2D42;
    color: #FFF;
    min-height: 60px; 
    width: 1000px;
  }
  
  .movie-list-details {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    min-height: 60px;
  }
  
  .movie-list-name,
  .movie-list-birthdate,
  .movie-list-species {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 33%; 
    min-height: 60px; 
  }
  
  .movie-list-menu {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  